<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.zzimcar.dao.BlogDao">
  <insert id="save" parameterType="BlogDto">
    INSERT playground.blog (
      title, post, writer
    ) VALUES (
      #{title}, #{post}, #{writer}
    )
  </insert>

  <select id="retriveOne" parameterType="int" resultType="BlogDto">
    SELECT
      b.title, b.post, b.writer, b.pid, b.created_at
    FROM
      playground.blog b
    WHERE
      deleted_at IS NULL
      AND b.pid = #{pid}
  </select>

  <select id="getTotalCnt" resultType="int">
    SELECT
      count(*)
    FROM
      playground.blog b
    WHERE
      deleted_at IS NULL
  </select>

  <select id="retriveList" parameterType="map" resultType="BlogDto">
    SELECT
      b.title, b.post, b.writer, b.pid, b.created_at
    FROM
      playground.blog b
    WHERE
      deleted_at IS NULL
  <if test='sort.equals("D")'>
    ORDER BY b.pid DESC
  </if>
  <if test='sort.equals("A")'>
    ORDER BY b.pid ASC
  </if>
    LIMIT
      #{sp}, #{cnt}
  </select>
</mapper>