<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.zzimcar.dao.BlogDao">
  <insert id="save" parameterType="BlogDto">
    INSERT playground.blog (
      title, post, writer
    ) VALUES (
      #{title}, #{post}, #{writer}
    )
  </insert>

  <select id="retrieveOne" parameterType="int" resultType="BlogDto">
    SELECT
      b.title, b.post, b.writer, b.pid, b.created_at
    FROM
      playground.blog b
    WHERE
      b.pid = #{pid}
      AND deleted_at IS NULL
  </select>

  <select id="retrieveByCnt" parameterType="map" resultType="BlogDto">
    SELECT
      b.title, b.post, b.writer, b.pid, b.created_at
    FROM
      playground.blog b
    WHERE
      deleted_at IS NULL
    LIMIT
      #{sp}, #{cnt}
  </select>

  <select id="totalCnt" resultType="int">
    SELECT
      count(*)
    FROM
      playground.blog
    WHERE
      deleted_at IS NULL
  </select>

  <select id="isExist" parameterType="int" resultType="int">
    SELECT
      count(*)
    FROM
      playground.blog
    WHERE pid = #{pid} AND deleted_at IS NULL
  </select>

  <update id="updateOne" parameterType="map">
    UPDATE playground.blog b SET
      b.title = #{blogDto.title}, b.post = #{blogDto.post}, b.writer = #{blogDto.writer}
    WHERE
      b.pid = #{pid} AND deleted_at IS NULL;
  </update>

  <delete id="deleteOne" parameterType="int">
    UPDATE playground.blog b SET
      b.deleted_at = now()
    WHERE
      b.pid = #{pid} AND b.deleted_at IS NULL
  </delete>
</mapper>